body {
    margin: 0;
}
/* img {
    size: cover;
} */
.wrapper {
            width: 100vw;
            height: 100vh;
        }

        .col {
            width: -webkit-calc(100% / 3);
            width: -moz-calc(100% / 3);
            width: calc(100% / 3);
            float: left;
            height: 100%;
            text-align: center;
            font-size: 50px;
            color: #3d3d3d;
            line-height: 300%;
            font-weight: bold;
        }

        .col.one {
            background-color: #ffffff;
        }

        .col.two {
            background-color: #ffffff;
        }

        .col.three {
            background: url(images/3_background.png);
            background-size: cover;
            background-position: center;
            position: relative;
            background-color: #3d3d3d;
            background-repeat: no-repeat;
        }
        .floating {
            position: absolute;
        }
        
        .clothes1 {
            top: -8%;
            left: 18%;
            width: 2.4em;
            height: 2.4em;
        }
        .clothes2 {
            top: -8%;
            right: 18%;
            width: 2.4em;
            height: 2.4em;
        }
        .bag1 {
            top: 13%;
            left: 15%;
            width: 2.7em;
            height: 2.7em;
        }
        .bag2 {
            top: 13%;
            right: 15%;
            width: 2.7em;
            height: 2.7em;
        }
        .shoes1 {
            bottom: 18%;
            left: 15%;
            width: 2.7em;
            height: 2.7em;
        }
        .shoes2 {
            bottom: 18%;
            right: 11%;
            width: 2.7em;
            height: 2.7em;
        }
        .big1 {
            top: 37%;
            left: 6%;
            width: 3.5em;
            height: 3.5em;
        }
        .big2 {
            top: 37%;
            right: 6%;
            width: 3.5em;
            height: 3.5em;
        }
        .small {
            opacity: 0.5;
        }

/* effect */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }